/* Importa o arquivo CSS que importa a fonte Ravie */
/* Um arquivo CSS pode importar outro usando @import */
@import "fonts/ravie.css";

body, html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Verdana", "OpenSans", sans-serif;
}

strong {
  color: #d027aa;
}

#recipiente {
  background-image: linear-gradient(to bottom, #f6f1b2, #4599b2 80%);
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}

#cardapio {
  padding: 0 20px 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-top: 1px solid #aac0ae;
  border-bottom: 1px solid #aac0ae;
  border-left: 1px solid #aac0ae;
}

#cardapio h3 {
  font-size: 18px;
  color: #333;
  margin-top: 30px;
}

#cardapio article {
  display: flex;
  font-size: 14px;
  color: #333;
  line-height: 2em;
}

/* EXERCÍCIO 1: layout da página */
#recipiente {
  width: 800px;
  min-height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 154px 1fr;
  grid-template-rows: auto 1fr 86px;
}

#cabecalho-pagina {
  display: flex;
  grid-row: 1/1;
  grid-column: 2/2;
}

#lateral {
  grid-row: 1/5;
  grid-column: 1/1;
}

#cardapio {
  grid-row: 2/2;
  grid-column: 2/2;
}

#rodape-pagina {
  grid-row: 3/5;
  grid-column: 2/2;
}

/* EXERCÍCIO 2: cabeçalho da página */
#cabecalho-pagina {
  flex-direction: column;
  padding: 10px;
}

#cabecalho-pagina h1 {
  margin: 0;
  font-family: "Ravie", cursive;
  font-size: 36px;
  color: #e90c0c;
  font-weight: normal;
  align-self: center;
}

#cabecalho-pagina h2 {
  font-size: 24px;
  color: #333;
  font-weight: normal;
  margin: 0;
  align-self: flex-end;
}

/* EXERCÍCIO 3: cada item do menu */
article {
  display: flex;
  justify-content: space-between;
  line-height: 2em;
}

/* EXERCÍCIO 4: o rodapé */
#rodape-pagina {
  display: flex;
  justify-content: flex-end;
  height: 46px;
  padding: 46px 15px 25px 0px;
  margin-left: 154px;
}

/* EXERCÍCIO 5: lateral */
#lateral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* DESAFIO 1: o ticket */
#ticket {
  position: fixed;
  left: -89px;
  transition: left 100ms ease-out; 
  top: 50%;
  margin-top: -42px;
}

#ticket:hover {
  position: fixed;
  left: 0;
}

#ticket:hover {
  position: relative;
  top: 17px;
  left: -10px;
}

/* DESAFIO 2: deslocamento no siri e peixe */
#siri {
  position: relative;
  top: 17px;
  left: -10px;
}

#peixe {
  position: relative;
  left: -44px;
}