body{
    margin: 0px 0px;
}
#cabecalho {
    padding-top: 20px;
    padding-left: 34px;
    background-color: #6175f0;
}
#cabecalho h1 {
    color: white;
    font-size: 36px;
    font-family: 'Kaushan Script', cursive; 
}
#cabecalho h2 { 
    color: white;
    font-size: 24px;
    font-family: 'Times New Roman', FreeSerif, serif;
}
#imagem-principal {
    float: left;
    margin-right: 13px;
    width: 310px;
}
#verdade h1 {
    color: black;
    font-size: 24px;
    font-family: 'Times New Roman', FreeSerif, serif;
}
#verdade h2{
    margin-top: 0px;
}
#verdade p {
    color: black;
    font-size: 14px;
    font-family: 'Arial', FreeSans, sans-serif;
}
#hoje {
    float: right;
    width: 400px;
    border: 1px solid #ff56fb;
    background-color: #f8cef7;
    clear: left;
    margin-right: 25px;
    padding: 20px 35px 30px 35px;
}
#hoje img {
    width: 112px;
    height: 112px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#hoje h2 {
    text-align: center;
}
#hoje h3 {
    text-align: center;
    color: black;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
#musica h2 {
    padding-left: 12px;
    clear: left;
    color: black;
    font-size: 24px;
    font-family: 'Times New Roman', Freeserif, serif;
}
#musica p {
    background-position: left;
    color: black;
    font-size: 14px;
    font-family: 'Adal', Freesans, sans_serif;
}
#musica p:nth-child(2n) {
    padding-left: 34px;
}
#musica p:nth-child(2n+1) {
    padding-left: 12px;
}
.destacado {
    color: #004a79;
    background-color: #c4caf3;
}

